<mat-toolbar class="topbar" role="banner">
  <div class="brand">
    <mat-icon>insights</mat-icon>
    <span class="brand-text">BI Quality Analyzer</span>
  </div>
  <div class="spacer"></div>
  @for (item of navItems; track item.path) {
    <a mat-button class="nav-link" [routerLink]="item.path" routerLinkActive="active-link">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label }}
    </a>
  }
</mat-toolbar>

<main class="workspace">
  <mat-card class="canvas">
    <router-outlet></router-outlet>
  </mat-card>
</main>
